/* fonts */
.bruno-ace-regular {
    font-family: "Bruno Ace", serif;
    font-weight: 400;
    font-style: normal;
}

/* General */
body {
    background-color: #FBF5DD;
    font-family: "Bruno Ace", serif;
}

nav {
    background: #444cf7;
    height: 4.5em;
}

nav .navbar-text {
    color: #e5e5f7
}

.navbar-brand {
    color: #fbf5dd;
    font-weight: 600;
}

nav .btn {
    background-color: #f1f1f1;
}

nav .btn a {
    text-decoration: none;
    color: #393431;
}

nav .btn:hover {
    border: 1px solid #FBF5DD;
}

nav .btn:hover a {
    color: #FBF5DD;
}


/* index.html */
#index-body {
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(#444cf7 1.25px, transparent 1.25px), radial-gradient(#444cf7 1.25px, #e5e5f7 1.25px);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
}

.button {
    text-decoration: none;
    color: #444cf7;
}

.login-btn,
.register-btn,
.start-btn {
    background: #000;
    font-weight: 700;
    padding: 0;
    border-radius: 5px;
}

.login-btn a,
.start-btn a,
.register-btn span {
    text-decoration: none;
    font-weight: 600;
    display: block;
    padding: 0.5rem 2rem;
    border: 1px solid #000;
    border-radius: 5px;
    transform: translate3d(-4px, -4px, 0);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    background-color: #646bf7;
    color: #e5e5f7;
}

.login-btn:hover a,
.register-btn:hover span,
.start-btn:hover a {
    transform: translate3d(-8px, -8px, 0);
}

#typewriter-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-size: 3.5em;
}

#typewriter-cursor {
    display: inline-block;
    position: absolute;
    right: 0;
    animation: blink-caret 0.75s step-end infinite;
}

/* Blinking underscore effect */
@keyframes blink-caret {

    from,
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* register.html */
#register-body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

#register-form {
    width: 30em;
    margin: auto;
    height: 25em;
    background: rgb(229, 229, 247);
    background: linear-gradient(0deg, rgba(229, 229, 247, 0) 32%, rgba(68, 76, 247, 1) 71%);
}

.register-btn {
    display: block;
    margin: 4em auto;
}

#register-form label {
    color: #ececf4;
    font-weight: 600;
}

#register-form input {
    box-shadow: 10px 10px #000;
}

.register-btn span {
    background-color: #646bf7;
    color: #e5e5f7;
}

#register-body #login-link {
    text-decoration: none;
    color: #444cf7;
}

#register-body #login-link:hover {
    text-decoration: underline
}